@import 'src/styles/settings.scss';

:host {
  flex-basis: 30%;
}

.photo {
  width: 200px;
  height: 200px;
  box-shadow: 0 2px 8px 0 $grey-light;
  padding: 6px;

  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  &.selected {
    background-color: $orange;
  }
}
