/* Generic
* ==================
* Generic Properties
*/

@import 'settings.scss';

body {
  margin: 0;
}

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: normal normal $weight-normal $medium 'Open Sans', sans-serif;
}

body {
  color: $grey-dark;
  background: $white;
  font-size: $medium;
}

